bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*.log
appsettings.Development.json
secrets.json
.env
.netlify/
publish/
publish-linux/
TestResults/
*.db
*.db-shm
*.db-wal
